* {
    margin: 0;
    padding: 0;
    outline: 0;
}


body {
    font-family: sans-serif;
    background-image: url("lake.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
}


.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bio_card {
    height: 82.5vh;
    display: flex;
    flex-direction: row;
}

.left {
    position: relative;
    height: 100%;
    width: 20vw;
    border-radius: 25px 0 0 25px;
    color: #333;
    background: #faded3;
}

.left .profile {
    position: relative;
    height: 50px;
}

.left .cover {
    width: 100%;
    height: 120px;
    border-radius: 25px 0 0 0;
}

.left .pdp {
    position: absolute;
    width: 150px;
    height: 150px;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid #fafafa;
    border-radius: 100%;
}

.left .btn {
    position: absolute;
    width: 46px;
    height: 46px;
    top: calc(200px - 23px);
    right: calc(0% - 23px);
    /* position of btn */
    border-radius: 100%;
    color: #fafafa;
    text-align: center;
    background: rgb(74, 119, 233);
    background: -moz-linear-gradient(90deg, rgba(76, 179, 233, 1) 0%, rgba(74, 119, 233, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(76, 179, 233, 1) 0%, rgba(74, 119, 233, 1) 100%);
    background: linear-gradient(90deg, rgba(76, 179, 233, 1) 0%, rgba(74, 119, 233, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4cb3e9", endColorstr="#4a77e9", GradientType=1);
}

.left .btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .left h1 {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0;
    font-family: 'Thasadith', sans-serif;
} */

.left .edit_btn {
    width: 50px;
    margin-left: 43%;
    background-color: #fafafa;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-width: 1px;
    font-size: 15px;
}


.left .edit_btn:hover {
    /* box-shadow: 2px 2px 5px #555; */
    background-color: grey;
}


.left .box {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.left .box i {
    font-size: 2.6rem;
    margin-bottom: 12px;
}

.left .box h2 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
}

.left .box .col {
    width: 33%;
}


.right {
    width: 50vw;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}

.text {
    height: 100%;
    width: 450px;
    padding: 15px 30px;
}

.text h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.text h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 5px 0;
    font-size: 1rem;
}

.text h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin: 5px 0;
    font-size: 1rem;
}

.text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

.text button {
    width: 90%;
    color: #fafafa;
    text-align: center;
    position: relative;
    left: 50%;
    padding: 5px 15px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: 'Open sans', sans-serif;
    transform: translateX(-50%);
    background: rgb(74, 119, 233);
    background: -moz-linear-gradient(90deg, rgba(76, 179, 233, 1) 0%, rgba(74, 119, 233, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(76, 179, 233, 1) 0%, rgba(74, 119, 233, 1) 100%);
    background: linear-gradient(90deg, rgba(76, 179, 233, 1) 0%, rgba(74, 119, 233, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4cb3e9", endColorstr="#4a77e9", GradientType=1);

    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.text button i {
    float: left;
    font-size: 1.5rem;
}

.custom-field {
    position: relative;
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
    font-weight: 600;
}

.form {
    margin-left: 20%;
}

input[type=text] {
    width: 80%;
    border: 0px solid #aaa;
    border-radius: 10px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

input[type=text]:focus {
    border-color: white;
    box-shadow: 0 0 8px 0 white;
}

input[type=text2] {
    width: 80%;
    border: 0px solid #aaa;
    border-radius: 10px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    margin-left: 10px;
}

input[type=text2]:focus {
    border-color: white;
    box-shadow: 0 0 8px 0 white;
}

.profile_btn {
    margin-top: 10px;
    margin-left: 60%;
    transition: 0.2s all;
    width: 31%;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #d3c7fd;
}

.profile_btn:hover {
    background-color: #d3c7fd;
}

.profile_btn:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px white;
    /* Lowering the shadow */
}

.today {
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 80%;
}

.wrapper {
    margin-left: 88%;
    margin-top: 10px;
}

.wrapper .button {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 0 5px;
    background: #fff;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;

}

.wrapper .button .icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #b4a7df;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 50px;
}

.wrapper .button:hover {
    width: 200px;
}

.wrapper .button span {
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    margin-left: 35px;
}

#myroom {
    display: inline;
    width: 80%;
    margin-left: 10%;
}

.underlined {
    color: black;
    flex: 1;
    font-size: 2em;
    line-height: 1.2;
    text-decoration: none;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
    background-position: 0 1.2em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    background-position: 0 -0.1em;
    background-image: linear-gradient(to right, yellow 0, lightgreen 100%);
    /* transition: background .5s; */
}