* {
    margin:0;
    padding:9;
}

ui, li{
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_wrap {
    width: 1000px;
    margin: 100px auto;
}

.board_title{
    margin-bottom: 30px;
}

.board_title strong{
    font-size: 2rem;
}

.board_title_p{
    margin-top: 5px;
    font-size: 1.4rem;
}

.bt_wrap{
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}


.bt_wrap a{
    display: inline-block;
    min-width: 80px;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1rem;
}

.bt_wrap a:first-child{
    margin-left: 0;
}

.bt_wrap a.on{
    background: #000;
    color: #fff;
}

.board_list {
    width: 100%;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0; /* 부모 폰트사이즈를 0으로 하고 아래(>div>div)를 다시 설정*/
}

.board_list > div.top{ 
    border-bottom: 1px solid #ddd;

}

.board_list > div.last-child{
    border-bottom: 1px solid #000;
}

.board_list >div >div{ /*각각의 칸이 되는것*/
    display: inline-block; /*가로로 배치*/
    padding: 15px 0;
    text-align: center;
    font-size: 1.0rem;
}

.board_list > div.top > div{ 
    font-weight: 600;
}

.board_list .num{ /* board list 아래의 모든 num에 적용*/
    width: 20%;
}
.board_list .title{ /* board list 아래의 모든 num에 적용*/
    width: 60%;
    text-align: left;
}

.board_list .top .title{ /* board list 아래의 모든 num에 적용*/
    width: 60%;
    text-align: center;
}

.board_list .writer{ /* board list 아래의 모든 num에 적용*/
    width: 10%;
}
.board_list .date{ /* board list 아래의 모든 num에 적용*/
    width: 10%;
}



.board_page{ /*페이지 버튼 전체 틀(하위속성포함)*/
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a{ /* 각각의 버튼*/
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #ddd;   
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt{
    padding-top: 7px;
    font-size: 0.9rem;
}

.board_page a.num{
    padding-top: 7px;
    font-size: 0.9rem;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.board_page a:first-child{
    border-left: 1px solid #ddd; /* 박스 사이사이 회색선으로 채우기 위함*/
}


/*글 보기 페이지*/
.board_view{
    width: 100%;
    border-top: 2px solid #000; /* 상단 긴 줄*/
}

.board_view .title{ /*제목*/
    padding: 20px 15px; /* 상 하 padding*/
    border-bottom: 1px dashed #ddd;
    font-size: 1.2rem;
}

.board_view .info{
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.board_view .info dl
{
    position: relative; /* info dl::before에서 사용*/
    display: inline-block; /* 가로로 배치하기*/
    padding: 0 20px;
}

.board_view .info dl:first-child
{
    padding-left: 0; /* 맨 첫번째만 padding 없게*/
}

.board_view .info dl::before{ /*세로선그리기*/
    content: "";
    position: absolute; /* relative로 되어있음-> 이것만 있으면 좌측상단으로 감, 그래서 info dl에 position:relative 추가*/
    top: 5px;
    left: 0;
    width: 1px;
    height: 13px;
    background: #ddd;
    display: block;
}

.board_view .info dl:first-child:before{ /*세로선그리기*/
    content: "";
    position: absolute; /* relative로 되어있음-> 이것만 있으면 좌측상단으로 감, 그래서 info dl에 position:relative 추가*/
    top: 1px;
    left: 0;
    width: 1px;
    height: 13px;
    background: red;
    display: none;
}

.board_view .info dl dt,
.board_view .info dl dd{
    display: inline-block;
    font-size: 0.9rem;
}


.board_view .info dl dd{
    margin-left: 10px;
    color: #777;
}

.board_view .cont{
    padding: 15px;
    border-bottom: 1px solid #000;
    line-height: 160%;
    font-size: 1.0rem;
}

.board_write {
    border-top: 2px solid #000;
}

.board_write .title{
    padding: 15px;
}

.board_write .title dl {
    font-size: 0;
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
}

.board_write .title dt,
.board_write .title dd
{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.0rem;
    font-weight: 600;
}

.board_write .title dt{
    width: 100px;
}

.board_write .title dd {
    width: calc(100% - 100px);
}

.board_write .title input[type="text"]{
    padding: 10px;
    box-sizing: border-box;
}

.board_write .title input[type="text"] {
    width: 80%;
}

.board_write .cont {
    border-bottom: 1px solid #000;
}

.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}